body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.footer{
    height: 70px;
    color: #fff;
    background-color: #1F2937;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #1F2937;
}


.header-links ul{
    display: flex;
    gap: 18px;
}

.header-logo {
    color: #E5E7EB;
}


/* CSS FOR QUOTE SECTION BEGIN */
.section-quote{
    background-color: #E5E7EB;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.section-quote-content{
    width: 900px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}
.section-quote-content cite{
    display: flex;
    justify-content: end;
    font-size: 28px;
    font-weight: bold;
}
.section-quote-content blockquote{
    margin: 0;
}
/* CSS FOR QUOTE SECTION END */


/* CSS FOR SIGN UP SECTION BEGIN */
.section-sign-up {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-sign-up-container{
    background-color: #3882F6;
    width: 1200px;
    height: 150px;
    display: flex;

    font-size: 20px;
    color: white;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.p-bold {
    font-size: 24px;
    font-weight: 900;
}
.button-class{
    font-size: 20px;
    background-color: #3882F6;
    color: white;
    width: 120px;
    height: 40px;

    border: 2px white solid;
    padding: 4px 0;
    border-radius: 5px;
}
/* CSS FOR SIGN UP SECTION END */


a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}



ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p{
    margin: 0;
    padding: 0;
}
