body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.footer{
    height: 70px;
    color: #fff;
    background-color: #1F2937;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #1F2937;
}


.header-links ul{
    display: flex;
    gap: 18px;
}

.header-logo {
    color: #E5E7EB;
}


.section-quote{
    background-color: #E5E7EB;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.section-quote-content{
    width: 900px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}
.section-quote-content cite{
    display: flex;
    justify-content: end;
    font-weight: bold;
}

.section-quote-content blockquote{
    margin: 0;
}


a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p{
    margin: 0;
    padding: 0;
}
